*
{
	font-family: 'Source Sans Pro', sans-serif;
}

a:hover
{
	text-decoration: none;
}

.headerAndFooter
{
	text-align: center;	
}

.headerAndFooter ul
{
	width: 100%;
}

.headerAndFooter li
{
	list-style: none;
	display: inline;	
	padding-left: 10px;
	padding-right: 10px;
	
	font-size: 20px;
}

nav
{ 
  display: -webkit-box;
  margin: 2px auto; 
  line-height: 2;
  
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
}

p
{
	text-align: center;
	
	margin-left: 20px;
	margin-right: 20px;
	
	font-size: 14px;
}

h1
{
	font-size: 72px;
}

h1, h2, h3, h4
{
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

table
{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: left;
}

body
{	
	margin: auto;
	
	max-width: 1028px;
	overflow-y: scroll;
	
	background-image: url("../img/sayagata.png");
	background-color: #cccccc;
}

table ul
{
	margin-left: 32px;
	margin-right: 32px;
	
	font-size: 14px;
}

hr
{
	border-top: 1px solid #d0d0d0;
}

.gameThumb
{
	width: 98%;
	margin-left: 1%;
	margin-right: 1%;
}

.publications
{
	max-width: 650px;
	margin: auto;
}

.mainNav
{
	margin: 0;
	padding: 0;
}

.mainNav a
{
	font-family: 'Oswald', sans-serif;
}

.projectDescriptionSide
{
	width: 60%
}

.projectVideoSide
{
}

.projectDescriptionTop
{
	display: block;
}

.projectVideoTop
{
	display: block;
}

.projectPictures
{
	text-align: center;
	display: inline-block;
	font-size: 0;
}

.footerName
{
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
}

.icons
{
	text-align: center;
}

.icon
{
	margin-left: 8px;
	margin-right: 8px;
}